@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fc;
  --foreground: #282843;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282843;
    --foreground: #f7f8fc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway);
}

p {
  font-family: var(--font-raleway);
  @apply text-sm md:text-base lg:text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sketch);
}

h2 {
  @apply text-2xl sm:text-4xl;
}

.font-sketch {
  font-family: var(--font-sketch);
}

.font-raleway {
  font-family: var(--font-raleway);
}

/* Scroll to top style */
.scrollToTop {
  @apply bg-[#242424];
  @apply text-white;
  position: fixed;
  width: 100%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 1;
}

.scrollToTop:hover {
  opacity: 1;
}

/* Mui styles */
.MuiListItem-root {
  display: block;
  max-width: 250px;
}

.MuiListItemText-primary {
  @apply font-sketch;
}
