@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fc;
  --color--primary--100: rgb(40, 40, 67 / 1);
  --color--primary--33: rgb(40, 40, 67 / 0.45);
  --color--primary--15: rgb(40, 40, 67 / 0.22);
  --color--primary--5: rgb(40, 40, 67 / 0.12);
}

body {
  color: var(--color--primary--100);
  background: var(--background);
  font-family: var(--font-raleway);
}

p {
  font-family: var(--font-raleway);
  @apply text-sm md:text-base lg:text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}

h2 {
  @apply text-2xl sm:text-4xl;
}

.font-raleway {
  font-family: var(--font-raleway);
}

/* Scroll to top style */
.scrollToTop {
  position: fixed;
  width: 100%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 1;
}

.scrollToTop:hover {
  opacity: 1;
}

/* Mui styles */
.MuiListItem-root {
  display: block !important;
  max-width: 250px;
}
