@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fc;
  --color--primary--100: rgb(40, 40, 67 / 1);
  --color--primary--33: rgb(40, 40, 67 / 0.45);
  --color--primary--15: rgb(40, 40, 67 / 0.22);
  --color--primary--5: rgb(40, 40, 67 / 0.12);
}

body {
  color: var(--color--primary--100);
  background: var(--background);
  font-family: var(--font-raleway);
}

p {
  font-family: var(--font-raleway);
  @apply text-sm md:text-base lg:text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}

.border-background {
  border-color: var(--background);
}

.fill-primary {
  fill: var(--color--primary--100);
}

.text-primary {
  color: var(--color--primary--100) !important;
}

.text-background {
  color: var(--background);
}

.bg-primary {
  background-color: var(--color--primary--100);
}

.bg-primary-15 {
  background-color: var(--color--primary--15);
}

.bg-primary-5 {
  background-color: var(--color--primary--5) !important;
}

.font-raleway {
  font-family: var(--font-raleway);
}

.button-primary {
  @apply shadow-md rounded-lg cursor-pointer;
  background-color: var(--color--primary--5);
  &:hover {
    background-color: var(--color--primary--15);
  }
}

/* Scroll to top style */
.scrollToTop {
  @apply shadow-md rounded-lg cursor-pointer;
  background-color: var(--color--primary--100);
  color: var(--background);
  position: fixed;
  width: 100%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 1;
}

/* Image Swiper style */
.swiper-custom {
  .swiper-button-prev,
  .swiper-button-next {
    @apply text-black;
    &:after {
      @apply text-2xl;
    }
  }
  .swiper-button-prev {
    @apply left-2;
  }
  .swiper-button-next {
    @apply right-2;
  }
  .swiper-pagination-bullet {
    @apply hover:bg-gray-600;
  }
  .swiper-pagination-bullet-active {
    @apply bg-black hover:bg-gray-600;
  }
}

/* Mui styles */
.MuiListItem-root {
  display: block !important;
}

.MuiSlider-root {
  color: var(--color--primary--100) !important;
}

.MuiSlider-thumb {
  &:hover {
    box-shadow: 0px 0px 0px 8px var(--color--primary--15) !important;
  }
}

.Mui-focusVisible {
  box-shadow: 0px 0px 0px 8px var(--color--primary--15) !important;
}
